# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# user autogen.sh and ./configure added new files
Makefile
autom4te.cache/
config.log
config.status
libbitcoinconsensus.pc
libtool
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/tests_config.py
share/qt/Info.plist
share/setup.nsi
src/.deps/
src/bench/.deps/
src/compat/.deps/
src/config/bitcoin-config.h
src/config/bitcoin-config.h.in~
src/config/stamp-h1
src/consensus/.deps/
src/crypto/.deps/
src/policy/.deps/
src/primitives/.deps/
src/qt/.deps/
src/qt/test/.deps/
src/script/.deps/
src/secp256k1/autom4te.cache/
src/secp256k1/config.log
src/secp256k1/config.status
src/secp256k1/libsecp256k1.pc
src/secp256k1/libtool
src/secp256k1/src/.deps/
src/secp256k1/src/libsecp256k1-config.h
src/secp256k1/src/libsecp256k1-config.h.in~
src/secp256k1/src/stamp-h1
src/support/.deps/
src/test/.deps/
src/test/buildenv.py
src/univalue/autom4te.cache/
src/univalue/config.log
src/univalue/config.status
src/univalue/lib/.deps/
src/univalue/libtool
src/univalue/pc/libunivalue-uninstalled.pc
src/univalue/pc/libunivalue.pc
src/univalue/stamp-h1
src/univalue/test/.deps/
src/univalue/univalue-config.h
src/univalue/univalue-config.h.in~
src/wallet/.deps/
src/wallet/test/.deps/
src/zmq/.deps/
.cproject
.project
src/.libs/
src/bench/.dirstamp
src/bench/bench_bitcoin
src/bitcoin-cli
src/bitcoin-tx
src/bitcoind
src/compat/.dirstamp
src/consensus/.dirstamp
src/crypto/.dirstamp
src/obj/
src/policy/.dirstamp
src/primitives/.dirstamp
src/qt/.dirstamp
src/qt/bitcoin-qt
src/qt/bitcoin.moc
src/qt/bitcoinamountfield.moc
src/qt/forms/ui_addressbookpage.h
src/qt/forms/ui_askpassphrasedialog.h
src/qt/forms/ui_coincontroldialog.h
src/qt/forms/ui_debugwindow.h
src/qt/forms/ui_editaddressdialog.h
src/qt/forms/ui_helpmessagedialog.h
src/qt/forms/ui_intro.h
src/qt/forms/ui_openuridialog.h
src/qt/forms/ui_optionsdialog.h
src/qt/forms/ui_overviewpage.h
src/qt/forms/ui_receivecoinsdialog.h
src/qt/forms/ui_receiverequestdialog.h
src/qt/forms/ui_sendcoinsdialog.h
src/qt/forms/ui_sendcoinsentry.h
src/qt/forms/ui_signverifymessagedialog.h
src/qt/forms/ui_transactiondescdialog.h
src/qt/intro.moc
src/qt/locale/bitcoin_af_ZA.qm
src/qt/locale/bitcoin_ar.qm
src/qt/locale/bitcoin_be_BY.qm
src/qt/locale/bitcoin_bg.qm
src/qt/locale/bitcoin_bg_BG.qm
src/qt/locale/bitcoin_bs.qm
src/qt/locale/bitcoin_ca.qm
src/qt/locale/bitcoin_ca@valencia.qm
src/qt/locale/bitcoin_ca_ES.qm
src/qt/locale/bitcoin_cs.qm
src/qt/locale/bitcoin_cs_CZ.qm
src/qt/locale/bitcoin_cy.qm
src/qt/locale/bitcoin_da.qm
src/qt/locale/bitcoin_de.qm
src/qt/locale/bitcoin_el.qm
src/qt/locale/bitcoin_el_GR.qm
src/qt/locale/bitcoin_en.qm
src/qt/locale/bitcoin_en_GB.qm
src/qt/locale/bitcoin_eo.qm
src/qt/locale/bitcoin_es.qm
src/qt/locale/bitcoin_es_CL.qm
src/qt/locale/bitcoin_es_DO.qm
src/qt/locale/bitcoin_es_ES.qm
src/qt/locale/bitcoin_es_MX.qm
src/qt/locale/bitcoin_es_UY.qm
src/qt/locale/bitcoin_es_VE.qm
src/qt/locale/bitcoin_et.qm
src/qt/locale/bitcoin_eu_ES.qm
src/qt/locale/bitcoin_fa.qm
src/qt/locale/bitcoin_fa_IR.qm
src/qt/locale/bitcoin_fi.qm
src/qt/locale/bitcoin_fr.qm
src/qt/locale/bitcoin_fr_CA.qm
src/qt/locale/bitcoin_fr_FR.qm
src/qt/locale/bitcoin_gl.qm
src/qt/locale/bitcoin_he.qm
src/qt/locale/bitcoin_hi_IN.qm
src/qt/locale/bitcoin_hr.qm
src/qt/locale/bitcoin_hu.qm
src/qt/locale/bitcoin_id_ID.qm
src/qt/locale/bitcoin_it.qm
src/qt/locale/bitcoin_ja.qm
src/qt/locale/bitcoin_ka.qm
src/qt/locale/bitcoin_kk_KZ.qm
src/qt/locale/bitcoin_ko_KR.qm
src/qt/locale/bitcoin_ky.qm
src/qt/locale/bitcoin_la.qm
src/qt/locale/bitcoin_lt.qm
src/qt/locale/bitcoin_lv_LV.qm
src/qt/locale/bitcoin_mk_MK.qm
src/qt/locale/bitcoin_mn.qm
src/qt/locale/bitcoin_ms_MY.qm
src/qt/locale/bitcoin_nb.qm
src/qt/locale/bitcoin_nl.qm
src/qt/locale/bitcoin_pam.qm
src/qt/locale/bitcoin_pl.qm
src/qt/locale/bitcoin_pt_BR.qm
src/qt/locale/bitcoin_pt_PT.qm
src/qt/locale/bitcoin_ro_RO.qm
src/qt/locale/bitcoin_ru.qm
src/qt/locale/bitcoin_ru_RU.qm
src/qt/locale/bitcoin_sk.qm
src/qt/locale/bitcoin_sl_SI.qm
src/qt/locale/bitcoin_sq.qm
src/qt/locale/bitcoin_sr.qm
src/qt/locale/bitcoin_sv.qm
src/qt/locale/bitcoin_th_TH.qm
src/qt/locale/bitcoin_tr.qm
src/qt/locale/bitcoin_tr_TR.qm
src/qt/locale/bitcoin_uk.qm
src/qt/locale/bitcoin_ur_PK.qm
src/qt/locale/bitcoin_uz@Cyrl.qm
src/qt/locale/bitcoin_vi.qm
src/qt/locale/bitcoin_vi_VN.qm
src/qt/locale/bitcoin_zh.qm
src/qt/locale/bitcoin_zh_CN.qm
src/qt/locale/bitcoin_zh_TW.qm
src/qt/moc_addressbookpage.cpp
src/qt/moc_addresstablemodel.cpp
src/qt/moc_askpassphrasedialog.cpp
src/qt/moc_bantablemodel.cpp
src/qt/moc_bitcoinaddressvalidator.cpp
src/qt/moc_bitcoinamountfield.cpp
src/qt/moc_bitcoingui.cpp
src/qt/moc_bitcoinunits.cpp
src/qt/moc_clientmodel.cpp
src/qt/moc_coincontroldialog.cpp
src/qt/moc_coincontroltreewidget.cpp
src/qt/moc_csvmodelwriter.cpp
src/qt/moc_editaddressdialog.cpp
src/qt/moc_guiutil.cpp
src/qt/moc_intro.cpp
src/qt/moc_macdockiconhandler.cpp
src/qt/moc_macnotificationhandler.cpp
src/qt/moc_notificator.cpp
src/qt/moc_openuridialog.cpp
src/qt/moc_optionsdialog.cpp
src/qt/moc_optionsmodel.cpp
src/qt/moc_overviewpage.cpp
src/qt/moc_paymentserver.cpp
src/qt/moc_peertablemodel.cpp
src/qt/moc_qvalidatedlineedit.cpp
src/qt/moc_qvaluecombobox.cpp
src/qt/moc_receivecoinsdialog.cpp
src/qt/moc_receiverequestdialog.cpp
src/qt/moc_recentrequeststablemodel.cpp
src/qt/moc_rpcconsole.cpp
src/qt/moc_sendcoinsdialog.cpp
src/qt/moc_sendcoinsentry.cpp
src/qt/moc_signverifymessagedialog.cpp
src/qt/moc_splashscreen.cpp
src/qt/moc_trafficgraphwidget.cpp
src/qt/moc_transactiondesc.cpp
src/qt/moc_transactiondescdialog.cpp
src/qt/moc_transactionfilterproxy.cpp
src/qt/moc_transactiontablemodel.cpp
src/qt/moc_transactionview.cpp
src/qt/moc_utilitydialog.cpp
src/qt/moc_walletframe.cpp
src/qt/moc_walletmodel.cpp
src/qt/moc_walletview.cpp
src/qt/overviewpage.moc
src/qt/paymentrequest.pb.cc
src/qt/paymentrequest.pb.h
src/qt/qrc_bitcoin.cpp
src/qt/qrc_bitcoin_locale.cpp
src/qt/rpcconsole.moc
src/qt/test/.dirstamp
src/qt/test/moc_paymentservertests.cpp
src/qt/test/moc_uritests.cpp
src/qt/test/test_bitcoin-qt
src/script/.dirstamp
src/secp256k1/gen_context
src/secp256k1/src/.dirstamp
src/secp256k1/src/ecmult_static_context.h
src/support/.dirstamp
src/test/.dirstamp
src/test/data/alertTests.raw.h
src/test/data/base58_encode_decode.json.h
src/test/data/base58_keys_invalid.json.h
src/test/data/base58_keys_valid.json.h
src/test/data/script_invalid.json.h
src/test/data/script_valid.json.h
src/test/data/sighash.json.h
src/test/data/tx_invalid.json.h
src/test/data/tx_valid.json.h
src/test/test_bitcoin
src/univalue/lib/.dirstamp
src/wallet/.dirstamp
src/wallet/test/.dirstamp
